# Временные папки Unity (если кто-то откроет этот репо как проект)
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Временные файлы системы
.DS_Store
Thumbs.db

# Бэкапы инструментов (Blender и т.д.)
*.blend1
*.blend1.meta

# Логи
*.log

# Файлы кэша IDE (если будешь открывать через VS Code)
.vs/
.vscode/